.pagination {
  display: flex;
  .current {
    background-color: hsl(27, 90%, 55%) !important;
    border: hsl(27, 90%, 55%);
    color: white;
  }
  margin-top: 1rem;

  div {
    margin: 0 5px 0 5px;
    text-decoration: none;
    color: black;
    border: 1px solid var(--nhgray);
    border-radius: 3px;
    padding: 5px;
    &:hover {
      background-color: lightgray;
    }
  }
}
