.ask-container {
  width: 70vw;
  margin: auto;
  font-size: 1.2rem;
  h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 400;
  }
  button {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 40px;
  }
}

.ask {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--nhgray);
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  input {
    margin: 10px 0 10px 0;
    height: 35px;
    border: 1px solid var(--nhgray);
    border-radius: 4px;
    &:focus-within {
      outline: 4px solid var(--nhgray);
      border: 1px solid rgb(0, 157, 255);
    }
  }
}

.ask-title {
  display: flex;
  width: 90%;
  flex-direction: column;
  h2 {
    margin: 2rem 0 0 0;
    font-weight: 600;
  }
}

.ask-body {
  @extend .ask-title;
  textarea {
    resize: vertical;
    padding-bottom: 200px;
    margin: 10px 0 10px 0;
    border: 1px solid var(--nhgray);
    border-radius: 4px;
    &:focus-within {
      outline: 4px solid var(--nhgray);
      border: 1px solid rgb(0, 157, 255);
    }
  }
}

.ask-tags {
  @extend .ask-title;
  div:last-child {
    display: flex;
    align-items: center;
    margin: 10px 0 40px 0;
    height: 35px;
    border: 1px solid var(--nhgray);
    border-radius: 4px;
    &:focus-within {
      outline: 4px solid var(--nhgray);
      border: 1px solid rgb(0, 157, 255);
    }
  }
  input {
    border: none;
    background-color: rgba(245, 222, 179, 0);
    width: 100%;
    &:focus-within {
      outline: none;
      border: none;
    }
  }
  span {
    display: flex;
    align-items: center;
    background-color: hsl(203, 89%, 93%);
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    button {
      height: 16px;
      margin: 0;
      cursor: pointer;
      padding: 0;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      img {
        height: 16px;
      }
    }
  }
}

.error {
  margin-top: 0rem;
  color: red;
}

.inputerror {
  outline: 1px solid red;
  &:focus {
    outline: 4px solid var(--nhgray) !important;
    border: 1px solid red !important;
  }
}

.notuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
