.header {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  z-index: 100;
  top: 0;
  height: 50px;
  width: 100vw;
  border-bottom: 1px solid rgb(199, 199, 199);
  border-top: 4px solid hsl(27, 90%, 55%);
}

.nav {
  position: relative;
  height: 100%;
  width: min(1265px, 100vw);
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  > a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    width: 12rem;
    height: 3rem;
    color: var(--ablack);
    &:hover {
      background-color: var(--nhgray);
      color: black;
    }
  }
}

.brand {
  display: flex;
  height: 100% !important;
  border-radius: 0 !important;
  width: auto !important;
  align-items: center;
  margin: 0 2rem 0 0 !important;
  img {
    object-fit: fill;
    height: 33px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  &:hover {
    background-color: lightgray;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  button {
    margin-left: 2rem;
  }
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    width: 3rem;
    border-radius: 3px;
  }
}
