.wrapper {
  display: flex;
  width: min(1265px, 60vw);
  margin: auto;
  font-size: 1.3rem;
}

.question {
  width: 60vw;
  border-left: 1px solid var(--nhgray);
  border-right: 1px solid var(--nhgray);

  .question-top {
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 1px solid var(--nhgray);
    h1 {
      font-weight: 400;
    }
  }

  .question-info {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    word-break: break-all;
    white-space: pre-wrap;
    border-bottom: 1px solid var(--nhgray);
  }
  .question-content {
    display: flex;
    justify-content: flex-start;
  }
  .question-meta {
    display: flex;
    margin-left: auto;
    min-width: 15rem;
    align-items: flex-end;
    justify-content: left;
  }
  img {
    height: 3rem;
    border-radius: 3px;
  }
  span {
    display: flex;
    margin-left: auto;
    min-width: 15rem;
    align-items: center;
    justify-content: left;
  }
}

.voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  font-size: 2rem;
  button:last-child {
    transform: rotate(180deg);
    margin-top: 1rem;
    margin-bottom: 0;
  }
  button {
    cursor: pointer;
    background-color: none !important;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: none;
    margin-bottom: 1rem;

    img {
      height: 3rem;
    }
  }
}

.comments {
  h2 {
    margin-left: 3rem;
    font-weight: 400;
    font-size: 2rem;
  }
  .comment {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--nhgray);
    display: flex;

    white-space: pre-wrap;
    button {
      color: lightgray;
      background-color: white;
      border: none;
      margin-right: auto;
      cursor: pointer;
    }
    .comment-meta {
      display: flex;
      margin-left: auto;
      min-width: 16rem;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;

      p:nth-last-child(2) {
        margin-left: auto;
        color: lightgray;
      }
      .comment-meta-user {
        display: flex;
        align-items: center;

        img {
          margin-left: auto;
          margin-right: 1rem;
          height: 3rem;
          border-radius: 3px;
        }
      }
    }
  }
}

.comment-post {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  textarea {
    min-height: 20rem;
    resize: vertical;
    border-radius: 4px;
    border: 1px solid var(--nhgray);
    &:focus-within {
      outline: 4px solid var(--nhgray);
      border: 1px solid rgb(0, 157, 255);
    }
  }
  h2 {
    font-weight: 400;
    font-size: 2.2rem;
  }
  button {
    margin-right: auto;
    height: 42px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
