.wrapper {
  display: flex;
  width: min(1265px, 100vw);
  margin: auto;
  font-size: 1.3rem;
}

.question {
  width: 40vw;
  border-left: 1px solid var(--nhgray);
}

.question-top {
  margin-left: 3rem;
  border-bottom: 1px solid var(--nhgray);
}

.question-content {
  margin-left: 3rem;
  display: flex;
  margin-top: 2rem;
  word-break: break-all;
  white-space: pre-wrap;
}

.voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  font-size: 2rem;
  button:last-child {
    transform: rotate(180deg);
    margin-top: 1rem;
    margin-bottom: 0;
  }
  button {
    cursor: pointer;
    background-color: none !important;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: none;
    margin-bottom: 1rem;

    img {
      height: 3rem;
    }
  }
}
