.form {
  position: relative;
  flex: 1;
  margin-right: 1rem;
}

.searchbar {
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid var(--nhgray);
  border-radius: 4px;
  &:focus-within {
    outline: 4px solid var(--nhgray);
    border: 1px solid rgb(0, 157, 255);
  }

  input {
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}
.results {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--nhgray);

  .result {
    display: flex;
    cursor: pointer;
    align-items: center;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    justify-content: flex-start;
    img {
      height: 5rem;
      margin: 1rem;
      border-radius: 4px;
    }
  }
}
